/*sliders*/

.main-sliders {
  margin-top: 78px;
  margin-bottom: 90px;
}

.slider-block {
  position: relative;
  background-color: #EEE4DB;
  display: flex;
  padding: 90px 133px 89px 133px;
}

.slider-control-number {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
  margin: 0 0 10px 0;
}

.sliders-buttons-list {
  padding: 0 3px;
  margin:0;
  width: 31px;
  display: flex;
  flex-direction: column;
}

.slider-control {
  position: absolute;
  top:17px;
  left:28px;
}

.slider-button-item {
  width: 100%;
  height: 3px;
  margin-bottom: 11px;
  position: relative;
}

.slider-button{
  box-sizing: border-box;
  background-color: #D6CAC2;
  border: 0;
  width: 31px;
  height: 3px;
  position: absolute;
}

.slider-button:hover , .slider-button:focus{
  background-color: #725F5B;
}

.slider-image {
  position: absolute;
  right:100px;
  bottom:0;
}

.slider-button__one {
  background-color: rgba(30, 6, 6, 0.6);
}

.slider-desc {
  width: 307px;
}

.slider-title {
  margin: 0 0 20px 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
}

.slider-text {
  font-family: Crimson Text;
  font-style: italic;
  font-size: 20px;
  line-height: 25px;
  margin:20px 0;
}

.slider-1 {
  display: flex;
}

.slider-link {
  display: inline-block;
}

.slider-discount-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #C29974;
  text-align: center;
  padding: 11px 10px;
  margin: 0;
  text-transform: uppercase;
}

/* products*/

.product-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  margin: 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;  
  text-shadow: 0 0 40px rgba(147, 3, 3, 0.25);
}

.product-link:hover > .product-title, .product-link:focus > .product-title {
  cursor: pointer;
  text-decoration: underline;
}

.product-link:active .product-title{
  cursor: none;
  text-decoration: underline;
}

.product-link:active {
  cursor: none;
}

.products {
  margin-top: 90px;
}

.products-title {
  margin: 20px 0;
}

.products-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 10px -10px;
}

.product-item {
  position: relative;
  padding: 0 10px;
  margin: 10px 0;
  width: 280px;
  height: 270px;  
}

.catalog-list {
  margin-top:40px
}

.catalog-item:nth-child(4) {
  margin-left: 200px;
}

.product-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

.product-desception {
  margin-top: 45px;
  margin-bottom: 60px;
}

.product-desception__inner {
  max-width: 680px;
  width: 100%;
  margin-left: calc(100% / 12 * 2 + 4px );
}

.desc-title {
  margin:25px 0;
}

.desc-text {
  margin:15px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.desception {
  display: flex;
  align-items: center; 
  margin:21px 0;   
}

.desception-button {
  background: transparent;
  border: 0;
  padding: 0;
  margin-right: 6px;
}

.desception-text {
  margin: 0 0 0 14px;
  width: 580px;
}

/*delivery*/

.delivery {
  display: flex;
  margin-top: 90px;
  margin-bottom: 90px;  
}

.delivery-image {
  padding-right: 60px;
}

.delivery-text-block {
  padding-left: 60px;
}

.delivery-title {
  margin-top: 32px;
  margin-bottom: 8px;
}

.delivery-list {
  padding:0;
  margin:0 0 19px 0; 
}

.delivery-button{
  width:326px;
  margin-left:-60px;
  padding: 11px 0;
  padding-left: 60px;
  text-align: start;
  box-sizing: border-box;
  background: transparent;
  font-family: Crimson Text;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  border: 0;
}

.delivery-button:hover , .delivery-button:active , .delivery-button:focus{
  background-color: #E1F0F7;
}


.button__background {
  background-color: #E1F0F7;
}

.delivery-text {
  width: 480px;
  margin-bottom: 15px;
}

.delivery-link {
  margin-top: 10px;
  display: inline-block;
}




/*partners*/

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 109px;
  padding: 0;
}

.partner-link {
  transition: 0.3;
}

.partner-link:hover, .partner-link:focus {
  opacity: 0.7;
}

.partner-link:active {
  opacity: 0.5;
}

/*dlk*/

.dlk-contact {  
  display: flex;
  justify-content: start;
  align-items: baseline;
  padding-bottom: 60px;
  margin-bottom: 90px;
}

.dlk-about { 
  padding: 0 30px 35px 30px;
  margin-right: 57px;  
  background-color: #E1F0F7;
  position: relative;
}

.dlk-title {
  margin-top: -24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.dlk-subtitle {
  margin: 10px 0 10px 0; 
  font-family: Crimson Text;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
}

.dlk-about-text {
  margin-top: 10px;
  margin-bottom: 20px;
}

.dlk-about-link {
  display: inline-block;
}

.contacts-map {
  position: relative;
  background-color: #E1F0F7;
  padding: 0 30px 80px 30px;
  margin-left: 57px; 
}

.contacts-title {
  margin-top: -24px;
  margin-bottom: 20px;
}

.contacts-map-text {
  margin: 0 0 20px 0;
}

.contatcs-map-image {
  position: absolute;
  top:calc(100% - 80px);
}

/*Toys*/

.toys-content {
  padding: 60px 0;
}

.toys-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px 50px -10px;
}

.toy-preview {
  max-width: 33.33%;
  margin: 10px;
  block-size: border-box;
  position: relative;
}  


.toy-learn-more-text {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
}

.toy-learn-more {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translateY(calc(-50% - 59px)) translateX(-50%);
  opacity: 0;
  width: 207px;
  height: 207px;
  background-color: #E5EAF8;  
  transition: 0.4s;
}

.toy-link:hover > .toy-learn-more, .toy-link:focus > .toy-learn-more {
  opacity: 0.9;
  transform: translateY(calc(-50% - 59px)) translateX(-50%);
  
}

.toy-link:active > .toy-learn-more {  
  opacity: 0.67;
}

.toys-filter {
  margin-top: 50px;
  background-color: rgba(125, 151, 218, 0.2);
}

.toys-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 42px 0;
}

.toy-text {
  padding: 30px 0 25px 0;
}

.toy-name {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin: 0 0 15px 0;
}

.toy-price {
font-weight: bold;
font-size: 16px;
line-height: 22px;
text-align: center;
margin: 0;
}

.toy-form-section-list {
  padding: 0;
  margin: 15px 0;
}

.toy-form-section-item {
  margin-bottom: 15px;
}

.toy-form-section-name {
  font-weight: bold;
  padding: 0;
}

.filter-button {
  margin: 30px 0;
}

.label-color-indicator {
  margin-left: -24px;
  padding-left:30px;
  position: relative;
}



.label-color-indicator::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  border: 2px solid #C29974;
  box-sizing: border-box;
  border-radius: 3px;
}

.input-color:checked + .label-color-indicator::after {
  position: absolute;
  content: "";
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image: url(/images/checkbox.svg);
}

.label-shipping-indicator {
  position: relative;
  padding-left:30px;
  margin-left:-24px;
}

.label-shipping-indicator:hover, .label-color-indicator:hover, .input-color:focus + .label-color-indicator, .input-shipping:focus + .label-shipping-indicator{
  cursor: pointer;
  text-decoration-line: underline;
}

.label-shipping-indicator::before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #C29974;
  border-radius: 100%;
}

.input-shipping:checked + .label-shipping-indicator::after{
  position: absolute;
  content: "";
  left: 4px;
  top: 50%;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  border-radius: 100%;
  background-color: #C29974;
}

.amount-content {
  display: flex;
}

.label-amount {
  background-color: #FFFFFF;
  width: 80px;
  margin-top: -22px;
  padding: 7px 19px;
  text-align: center;
  display: block;
  box-sizing: border-box;
}

.label-amount:hover, .input-amount:focus + .label-amount {
  background-color: #EDDEEB;
  cursor: pointer;
}

.input-amount:checked + .label-amount { 
  background-color: #F3D0DB;  
}

/*page navigation*/

.page-navigation {
  margin-top: 30px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-navigation-list {
  display: flex;   
}

.page-navigation-item {
  margin-right: 64px;
}

.page-navigation-link__one {
  color: #C29974;
}

.page-navigation-control:hover .page-control-vector, .page-navigation-control:focus  .page-control-vector{
  stroke:#C29974;
  stroke-opacity: 1;
  cursor: pointer;
}

.page-navigation-control:active .page-control-vector{
  stroke:#C29974;
  stroke-opacity: 0.5;
  cursor: none;
}

.page-navigation-link:hover , .page-navigation-link:focus{
  color: #1E0606;
  opacity: 0.5;
  cursor: pointer;
}

.page-navigation-link:active {
  color: #C29974;
  cursor: none;
}


/*Blog*/

.blog-content {
  padding-bottom: 44px;
}

.blogs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 24px -10px 0 -10px;
}

.blog-preview {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 14px;
}

.blog-preview-link:hover .blog-preview-title, .blog-preview-link:active .blog-preview-title, .blog-preview-link:focus .blog-preview-title {
  cursor: pointer;
  text-decoration: underline;
}

.blog-preview-data {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
  margin: 15px 0 0 0;
}

.blog-preview-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  margin: 10px 0 0 0;
}

.blog-preview-text {
  font-size: 18px;
  line-height: 25px;
  margin: 15px 0 0 0;
}

/*contact us*/

.contact-us-block-content {
  display: flex;
  justify-content: space-between;
  margin-top: 53px;
  margin-bottom: 60px;

}

.contact-us-text-block {
  width: 33.33%;
}

.contact-us-text {
  margin: 0 0 20px 0;
}

.contact-us-bigtext {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: #C29974;
}

