/*sliders*/

.main-sliders {
  margin-bottom: 90px;
}

.slider-block {
  position: relative;
  background-color: #EEE4DB;
  display: flex;
  padding: 0 133px;
  padding-top: 90px;
  padding-bottom: 89px; 
}

.slider-control-number {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
  margin: 0;
  margin-bottom: 10px;
}

.sliders-buttons-list {
  padding: 0 3px;
  margin:0;
}

.slider-control {
  position: absolute;
  top:17px;
  left:28px;
}

.slider-button-item {
  width: 31px;
  height: 3px;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
}

.slider-button{
  box-sizing: border-box;
  background-color: #D6CAC2;
  border: 0;
  width: 31px;
  height: 3px;
}

.slider-image {
  position: absolute;
  right:100px;
  bottom:0;
}

.slider-desc {
  width: 307px;
}

.slider-title {
  margin: 0;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
}

.slider-text {
  font-family: Crimson Text;
  font-style: italic;
  font-size: 20px;
  line-height: 25px;
  margin:20px 0;
}

.slider-1 {
  display: flex;
}

.slider-link {
  display: inline-block;
}

.slider-discount-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #C29974;
  text-align: center;
  padding: 11px 10px;
  margin: 0;
  text-transform: uppercase;
}

/* products*/

.product-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  margin: 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;  
  text-shadow: 0 0 40px rgba(147, 3, 3, 0.25);
}

.product-item:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.5s;
}

.product-link:active {
  cursor: none;
  text-decoration: underline;
}

.product-container {
  background-color: #DBE4DB;
  padding: 46px 18px;
} 

.products-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 30px -10px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  position: relative;
  margin: 0 20px;
  width: 288px;
  height: 270px;  
}

.product-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

.product-desception {
  width: 680px;
  margin-bottom:60px;
}

.desc-title {
  margin:25px 0;
}

.desc-text {
  margin:15px 0;
}

.desception {
  display: flex;
  align-items: center;    
}

.desception-button {
  background: transparent;
  border: 0;
  padding: 0;
  margin-right: 6px;
}

.desception-text {
  margin: 0;
  margin-left: 14px;
  width: 580px;
}

/*delivery*/

.delivery {
  display: flex;
  margin-top: 90px;
  margin-bottom: 90px;  
}

.delivery-image {
  padding-right: 60px;
}

.delivery-text-block {
  padding-left: 60px;
}

.delivery-title {
  margin-top: 32px;
  margin-bottom: 8px;
}

.delivery-list {
  padding:0;
  margin:0;
  margin-bottom: 19px; 
}

.delivery-button{
  width:326px;
  margin-left:-60px;
  padding: 11px 0;
  padding-left: 60px;
  text-align: start;
  box-sizing: border-box;
}

.delivery-button:hover {
  background-color: #E1F0F7;
}

.delivery-button:active {
  background-color: #E1F0F7;
}

.delivery-button:focus {
  background-color: #E1F0F7;
}

.delivery-text {
  width: 480px;
  margin-bottom: 15px;
}

.delivery-link {
  margin-top: 10px;
  display: inline-block;
}




/*partners*/

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 109px;
  padding: 0;
}

/*dlk*/

.dlk-contact {  
  display: flex;
  justify-content: start;
  padding-bottom: 60px;
  margin-bottom: 90px;
}

.dlk-about { 
  padding: 0 30px;
  margin-right: 57px;  
  background-color: #E1F0F7;
  position: relative;
  padding-bottom: 35px;
}

.dlk-title {
  margin-top: -24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.dlk-subtitle {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;  
}

.dlk-about-text {
  margin-top: 10px;
  margin-bottom: 20px;
}

.dlk-about-link {
  display: inline-block;
}

.contacts-map {
  position: relative;
  background-color: #E1F0F7;
  padding: 0 30px;
  margin-left: 57px; 
}

.contacts-title {
  margin-top: -24px;
  margin-bottom: 20px;
}

.contacts-map-text {
  margin: 0;
}

.contatcs-map-image {
  position: absolute;
  top:calc(100% - 80px);
}

/*Toys*/

.toys-content {
  padding: 60px 0;
}

.toys-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-bottom: 50px;
}

.toy-preview {
  max-width: 33.33%;
  margin: 10px;
  block-size: border-box;
}

.toys-filter {
  background-color: rgba(125, 151, 218, 0.2);
}

.toys-form {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;
}

.toy-name {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.toy-price {
font-weight: bold;
font-size: 16px;
line-height: 22px;
text-align: center;
}

.toy-form-section-list {
  padding: 0;
  margin: 15px 0;
}

.toy-form-section-item {
  margin-bottom: 15px;
}

.toy-form-section-name {
  font-weight: bold;
  padding: 0;
}

.filter-button {
  align-self: center;
}

.input-color-indicator {
  padding-left:30px;
  position: relative;
}

.input-color-indicator::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  border: 2px solid #C29974;
  box-sizing: border-box;
  border-radius: 3px;
}

.input-color:checked + .input-color-indicator::after {
  position: absolute;
  content: "";
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image: url(/images/checkbox.svg);
}

.form-toy-radio {
  display:flex;
  cursor: pointer;
  margin-bottom: 10px;
}

.input-radio-indicator {
  position: relative;
  padding-left:30px;
}

.input-radio-indicator::before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #C29974;
  border-radius: 100%;
}

.input-radio:checked + .input-radio-indicator::after{
  position: absolute;
  content: "";
  left: 4px;
  top: 50%;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  border-radius: 100%;
  background-color: #C29974;
}

.amount-content {
  display: flex;
}

/*page navigation*/

.page-navigation {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-navigation-list {
  display: flex;   
}


.page-navigation-item {
  margin: 0 64px;
}

.breadcrumbs {
  font-family: Crimson Text;
  font-style: italic;  
  font-size: 20px;
  line-height: 25px;
}

/*Blog*/

.blog-content {
  padding-bottom: 60px;
}

.blogs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-bottom: 30px;
}

.blog-preview {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.blog-preview-data {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
  margin-top: 20px;
  margin-bottom: 10px;
}

.blog-preview-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 15px;
}

.blog-preview-text {
  font-size: 18px;
  line-height: 25px;
}

/*contact us*/

.contact-us-block-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;

}

.contact-us-text-block {
  width: 30%;
}

.contact-us-text {
  margin: 0;
  margin-bottom: 20px;
}

.contact-us-bigtext {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: #C29974;
}

