/*sliders*/

.main-sliders {
    
}

.slider-block {
  background-color: #EEE4DB;
  display: flex;
  padding: 0 28px; 
}

.slider-control-number {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
  margin: 0;
}

.sliders-buttons-list {
  padding 0;
}

.slider-button{
  background-color: #D6CAC2;
  padding: 0;
  border: 0;
  width: 31px;
  height: 3px;
}

.slider-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
}

.slider-text {
  font-family: Crimson Text;
  font-style: italic;
  font-size: 20px;
  line-height: 25px;
}

.slider-discount-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #C29974;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 10px;
  margin: 0 auto;
}

.slider-1 {
  display: flex;
}


/* products*/

.product-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  margin: 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;  
  text-shadow: 0 0 40px rgba(147, 3, 3, 0.25);
}

.product-container {
  background-color: #DBE4DB;
  padding: 46px 18px;
}

.products-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 30px -10px;
}

.product-item {
  position: relative;
  margin: 0 20px;
  width: 288px;
  height: 270px;  
}

.product-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

.desception {
  display: flex;
  align-items: center;    
}

.desception-button {
  background: transparent;
  border: 0;
  padding: 0;
  margin-right: 6px;
}

.desception-text {
  margin: 0;
  margin-left: 14px;
  width: 580px;
}

.delivery {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 90px;
}

.delivery-title {
  margin-top: 30px;
  margin-bottom: 8px;
  padding-left: 60px;
}

.delivery-list {
  padding:0;
  margin:0; 
}

.delivery-button:active {
  border: 0;
}

.delivery-item {
  padding-left: 60px;
}

.delivery-item:active {
  background-color: #E1F0F7;

}

.delivery-text {
  margin-bottom: 26px;
  padding-left: 60px;
}

.delivery-link {
  display: inline-block;
  padding-left: 60px;
}

.delivery-image {
  padding-right: 60px;
}

.delivery-text-block {
  padding : 0;
}

/*partners*/

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 109px;
  padding: 0;
}

.dlk-contact {  
  display: flex;
  justify-content: start;
  padding-bottom: 60px;
  
}

.dlk-about { 
  padding: 0 30px;
  margin-right: 57px;  
  background-color: #E1F0F7;
  position: relative;
}

.dlk-title {
  position: absolute;
  transform: translateY(-50%);
  margin: 0;
}

.dlk-subtitle {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 10px;  
}

.dlk-about-text {
  margin-top: 10px;
  margin-bottom: 20px;
}

.dlk-about-link {
  display: inline-block;
  margin-bottom:35px;
}

.contacts-map {
  position: relative;
  background-color: #E1F0F7;
  padding: 0 30px;
  margin-left: 57px; 
}

.contacts-title {
  position: absolute;
  transform: translateY(-50%);
  margin: 0;
}

.contacts-map-text {
  margin: 0;
  margin-top: 41px;
}

.contatcs-map-image {
  position: absolute;
  transform: translateY(-50%);
}

.toys-filter {
  background-color: rgba(125, 151, 218, 0.2);;
}

.toy-name {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.toy-price {
font-weight: bold;
font-size: 16px;
line-height: 22px;
text-align: center;
}

.page-navigation {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

.page-navigation-list {
  display: flex;  
}


.breadcrumbs {
  font-family: Crimson Text;
  font-style: italic;  
  font-size: 20px;
  line-height: 25px;
}

/*Blog*/

.blog-content {
  display: flex;
  align-self: ;
}



.blog-preview-data {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

.blog-preview-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.blog-preview-text {
  font-size: 18px;
  line-height: 25px;
}

/*contact us*/

.contact-us-form {
  background-color: #E5EAF8;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.contact-us-bigtext {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: #C29974;
}

